{% extends 'booksell/base.html' %}
<!DOCTYPE html>
<html>
 {% load static%}
<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Eribook - {{title}}</title>
  {% else %}
  <title> EriBook</title>
  {% endif %}

</head>
{% load bootstrap3 %}
{% load static%}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="spectre.min.css">
<link rel="stylesheet" href="spectre-exp.min.css">
<link rel="stylesheet" href="spectre-icons.min.css">
{% endblock %}

<body>
  {% include "booksell/navbar.html" %}
  
  {% block content %}
  
  <div class="container">
    <h2> Eri-Book</h2>
  </div>

    <hr>

 <div class="container">
 

 <h3 style="color:orange;text-align:center">  {{books.title_book }} </h3>

  <main role="main">
      <div class="album py-5 bg-white">
        <div class="container">
    
            <div class="row">
              
                
                    <div class="col-md-3">               
                    
                            <img src="{{books.image.url}}" class="card-img-top"  width=450px height=450px>
                         
                        <h5>{{books.title_book }}</h5>
                              <h5> {{books.author_book}}</h5>
                      
                              <h6>$ {{books.amount}}</h6>
                              <h6><button type="button" class="btn btn-primary">Add Cart</button></h6>
                              <hr>
                                        
                </div>
                <hr>
             
        
              <hr>
              </div>
              
            
          </div>
        </div>
    </main>
   
  </div>

     



<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Eribooks</h5>
          <p>Here some facts abouts .</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact </a>
            </li>
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">LinkeIn</a>
            </li>
          </ul>
  
        </div>
      
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">1</a>
            </li>
            <li>
              <a href="#!">2</a>
            </li>
            <li>
              <a href="#!">3</a>
            </li>
            <li>
              <a href="#!"> 4</a>
            </li>
          </ul>
  
        </div>
      </div>
    
  
    </div>
   
    <div class="footer-copyright text-center py-3">© 2020 Eribooks
      <a href="https://mdbootstrap.com/education/bootstrap/"> Reading.com</a>
    </div>
  </footer>


  {%endblock%}





</body>

</html>