{% extends 'booksell/base.html' %}
<!DOCTYPE html>
<html>
 {% load static%}
<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Eribook - {{title}}</title>
  {% else %}
  <title> EriBook</title>
  {% endif %}

</head>
{% load bootstrap3 %}
{% load static%}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<body>
  {% include "booksell/navbar.html" %}
  
  {% block content %}
  
  <div class="container">
    <h2> EriBook - Fictions </h2>
  </div>
      <hr>
 <div class="container">
      
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
        
        <a class="navbar-brand" href="#">Eribook</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">All-Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'history' %}">History-Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fiction' %}">Fiction-Books</a>  
            </li>
            
          </ul>   
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
  
      </nav>  
 </div>

 <div class="container">
 
 <h3 style="color:orange;text-align:center"> EriBooks Bestselleers in Fiction-Books</h3>

  <main role="main">
      <div class="album py-5 bg-white">
        <div class="container">
    
          <div class="row">
              {% for bookfiction in modelfiction %}
            <div class="col-md-3">               
    <a href=""> <img src="{{bookfiction.fiction_image.url}}" class="card-img-top"  width=150px height=150px>  </a>
          <h5>{{bookfiction.fiction_title}}</h5>
          <h6> {{bookfiction.fiction_author}}</h6>
          <br>
          <h6>$ {{bookfiction.fiction_amount}}</h6>
<!--     
    <div class="modal fade" id="image{{ bookhistory.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <img src="{{bookhistory.history_image.url}}" class="card-img-top"  width=100px> 
            <h5 class="modal-title" id="exampleModalLabel">{{bookhistory.history_title}}</h5>
            <h4> :{{booksbookhistory.history_author}}</h4>
          <h4>$ :{{bookhistory.history_amount}}</h4>
          
          </div>
        </div>
      </div>
    </div> -->
                </div>
            {% endfor %} 
            </div>
          </div>
        </div>
    </main>
  </div>

  {%endblock%}

</body>

</html>