{% extends 'booksell/base.html' %}
<!DOCTYPE html>
<html>
 {% load static%}
<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Eribook - {{title}}</title>
  {% else %}
  <title> EriBook</title>
  {% endif %}

</head>
{% load bootstrap3 %}
{% load static%}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<body>
  {% include "booksell/navbar.html" %}
  {% block content %}
  
  <div class="container">
    <h2>Eri-Book</h2>
  </div>
      
      <hr>
 <div class="container">
      
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
        
        <a class="navbar-brand" href="#">Eribook</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="basicExampleNav">
        
          <ul class="navbar-nav mr-auto">
          
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">All-Books</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'history' %}">History-Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fiction' %}">Fiction-Books</a>  
            </li>
            
          </ul>   
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </nav>  
 </div>

 <div class="container">
 <h3 style="color:orange;text-align:center"> EriBooks Bestsellers</h3>

  <main role="main">
      <div class="album py-5 bg-white">
        <div class="container">
    
          <div class="row">
              {% for bookhistory in modelhistory %}
            <div class="col-md-3">               

                <a  href="}"><img src="{{bookhistory.history_image.url}}" class="card-img-top"  width=150px height=150px>  </a>
    <h5>{{bookhistory.history_title}}</h5>
          <h6> {{bookhistory.history_author}}</h6>
          <h6>$ {{bookhistory.history_amount}}</h6>
    
 
                </div>
            {% endfor %} 
            </div>
          </div>
        </div>
    </main>
  </div>


<footer class="page-footer font-small blue pt-4">

  
    <div class="container-fluid text-center text-md-left">
  
   
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Eribooks</h5>
          <p>Here some facts abouts .</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact </a>
            </li>
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">LinkeIn</a>
            </li>
          </ul>
  
        </div>
      
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"></a>
            </li>
            <li>
              <a href="#!">2</a>
            </li>
            <li>
              <a href="#!">3</a>
            </li>
            <li>
              <a href="#!"> 4</a>
            </li>
          </ul>
  
        </div>
      </div>
    
  
    </div>
   
    <div class="footer-copyright text-center py-3">© 2020 Eribooks
      <a href="https://mdbootstrap.com/education/bootstrap/"> Reading.com</a>
    </div>
  </footer>
  {%endblock%}

</body>

</html>